* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.navbar {
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  left: 0;
}

.nav-icons {
  display: none;
}

.nav-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.nav-toggle {
  background: transparent;
  color: hsl(185, 62%, 45%);
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 1.5rem;
  transform: all 0.3s linear;
}

.nav-toggle:hover {
  transform: scale(1.2);
}

.nav-link {
  display: block;
  padding: 1rem 2rem;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
  cursor: pointer;
  font-size: 1rem;
  transform: all 0.3 linear;
  color: hsl(209, 61%, 16%);
}

.nav-link:hover {
  color: hsl(184, 91%, 17%);
  background: hsl(210, 31%, 80%);
  padding-left: 2.25rem;
}

.nav-links {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}

.show-links {
  height: 270px;
}

@media screen and (min-width: 992px) {
  .nav-toggle {
    display: none;
  }
  .nav-links {
    height: auto;
    display: flex;
  }
  .nav-center {
    display: flex;
    justify-content: space-between;
    align-items: left;

    flex-wrap: wrap;
  }
  .nav-header {
    padding: 0 0;
  }
  .nav-link {
    padding: 0 0;
  }
  .nav-link:hover {
    padding: 0;
    color: hsl(185, 62%, 45%);
    background: transparent;
  }
  .nav-icons {
    display: flex;
  }
  .navbar {
    padding: 1rem 2rem;
  }
  .nav-link {
    margin-right: 2rem;
  }
  .nav-icon {
    margin-right: 1rem;
    color: hsl(185, 62%, 45%);
    font-size: 1.2rem;
    transition: all 0.3s linear;
  }
  .nav-icon:hover {
    color: hsl(210, 31%, 80%);
  }
}

.hero {
  background-image: url("img/1.jpeg");
  /* opacity: 0.9; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 100%; */
  height: 93vh;
}
.banner h1 {
  text-align: center;

  font-size: 4rem;
  padding-top: 300px;
  color: rgb(255, 255, 255);
  padding-left: 8%;
  padding-right: 8%;
}
@media screen and (max-width: 400px) {
  .banner h1 {
    font-size: 2rem;
  }
}
.banner p {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 19px;
  padding-left: 8%;
  padding-right: 8%;
  font-weight: 500;
}
.btn1 {
  margin-left: 40%;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  background: transparent;
  cursor: pointer;
  border: 2px solid rgb(255, 255, 255);
  padding: 18px 22px;
  font-weight: 400;
  font-size: 1.2rem;
}

@media screen and (max-width: 600px) {
  .btn1 {
    margin-left: 60px;

    font-size: 1rem;
  }
}
.btn1:hover {
  background-color: rgb(255, 213, 213);
  transition: all 0.5s ease-in-out;
  color: brown;
}

@media screen and (max-width: 320px) {
  .hero {
    height: 110vh;
  }
}

.setciontitle {
  margin-top: 75px;
  text-align: center;
  font-size: 2.2rem;
  color: rgb(22, 16, 16);
}

.colortitle {
  color: rgb(118, 105, 129);
}

.row img {
  padding-left: 5%;
  width: 90%;
  height: 90%;
}

.row h1 {
  color: rgb(22, 19, 19);
  font-size: 1.7rem;
}
.row p {
  font-size: 16.4px;
  color: rgb(138, 130, 130);
}
.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.row {
  flex: 1 1 190px;
  /* flex: 0 1 150px; */
  margin: 10px;
}
.btn2 {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 11px 12px;
  border: none;
  background-color: rgb(153, 153, 144);
  color: white;
  cursor: pointer;
}

.btn2:hover {
  color: rgb(54, 51, 51);
  transition: all 0.5s ease;

  background-color: aqua;
}

.firsttitle1 h1 {
  font-size: 2rem;
  color: rgb(29, 29, 32);
  margin-top: 70px;
  text-align: center;
}
.span1 {
  color: rgb(80, 80, 116);
}

.fonts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 90px;
  padding-left: 10%;
  padding-right: 10%;
}
.row2 {
  flex: 1 1 180px;
  margin: 15px;
}

.row2 i {
  font-size: 3rem;
  color: rgb(105, 90, 90);
  margin-bottom: 30px;
  display: grid;
  padding-left: 40%;
}
.row2 h4 {
  font-size: 1.7rem;
  color: brown;
  margin-bottom: 18px;
  text-align: center;
}

.row2 p {
  text-align: center;
  color: gray;
  font-size: 18px;
}
.title2 h1 {
  font-size: 2rem;
  color: rgb(26, 25, 25);
  text-align: center;
}
.title2c {
  color: rgb(183, 157, 207);
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: rgb(238, 230, 230);
  width: 300px;
  height: 400px;
  margin: 15px;
  border-radius: 14px;
}

.card-image {
  height: 180px;
  margin-bottom: 18px;
  background-size: cover;
  border-radius: 14px 14px 0 0;
}

.img1 {
  background-image: url("img/3.jpeg");
}

.img2 {
  background-image: url("img/4.jpeg");
}

.img3 {
  background-image: url("img/5.jpeg");
}

.img4 {
  background-image: url("img/6.jpeg");
}

.card h2 {
  padding: 11px;
  text-align: center;
  color: rgb(63, 61, 61);
}

.card p {
  padding: 11px;
  text-align: center;
  color: rgb(34, 33, 33);
  font-size: 17px;
}

.card a {
  border-radius: 12px;
  background-color: rgb(196, 196, 185);
  color: rgb(44, 42, 42);
  padding: 15px 15px;
  display: block;
  text-decoration: none;
  align-items: center;
  text-align: center;
  margin: 20px 50px;
}
.card a:hover {
  color: black;
  background-color: rgb(219, 215, 215);
}

.card:hover {
  background-color: rgb(108, 156, 219);
  color: white;
  transition: all 0.5s ease;
  cursor: pointer;
}

.foo {
  margin-top: 90px;
  background-color: rgb(80, 76, 83);
  padding: 40px;
}

.foo ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.foo a {
  color: rgb(189, 177, 177);
  font-size: 1.4rem;
  padding: 0 30px;
}

.foo a:hover {
  color: rgb(61, 56, 56);
  transition: all 0.4s ease;
}

.icons1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.icons1 li {
  list-style-type: none;
}
li a i {
  font-size: 1.8rem;
}

.copy {
  text-align: center;
  font-size: 1.6rem;
  font-size: 600;
  color: rgb(37, 25, 25);
}

.copy2 {
  text-align: center;
  color: rgb(41, 38, 38);
  font-size: 1.1rem;
}
